
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 100px auto;
    max-width: 900px;
    max-height: 900px;
    padding: 100px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}